 *{
        margin: 0;
        padding: 0;
        font-family: 'Times New Roman', Times, serif;
    }
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212; 
    color: #ffffff; 
}

header {
    background-color: #1e1e1e; 
    padding: 20px 0;
    position: relative;
}

.container {
    display: flex;
    justify-content:space-between;
    align-items: center;
    max-width: 1700px;
    margin: 0 auto;
    padding: 0 20px;
}
.logo h1 {
    margin: 0;
    font-size: 24px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff; 
    font-size: 16px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ff9800; 
}

.cta {
    margin-left: auto;
}

.cta-button {
    background-color: #ffa600; 
    color: #ffffff; 
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #e62e00; 
}

.hero {
    background-image: url('background.png'); 
    background-size: cover;
    background-position: center;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    color: #ffffff; 
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2; 
}

.hero h2 {
    font-size: 48px; 
    margin: 0 0 10px;
}

.hero p {
    font-size: 20px; 
    margin: 0 0 20px;
}

.hero-cta {
    background-color: #ff9800; 
    color: #ffffff; 
    padding: 12px 30px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.hero-cta:hover {
    background-color: #e68a00; 
}
.about {
    display: flex;
    align-items: center;
    padding: 80px 0;
}
.about-content{
    flex:1;
    max-width: 600px;
    padding-right:50px;
    color:#fff;
    margin-left: 5%;
}
.about h2{
    font-size:36px;
    margin-bottom: 20px;
}
.about p{
    font-size: 18px;
    margin-bottom:20px;
}
.about-image {
    max-width: 50%;
    margin-right: 5%;
    margin-left:10%;
}
.about-image img{
    max-width:100%;
    height: auto;
    border-radius:5px;
}
.dark-theme {
    background-color: #070e16
}

.menu{
    padding:80px 0;
    text-align: center;
    background-color:#070e16;
}
.menu h2{
    font-size:36px;
    margin-bottom:40px;
    color:#ffffff
}
.menu-items{
    display:flex;
    justify-content: center;
}
.menu-item{
    max-width:300px;
    margin: 0 20px;
    text-align: left;
}
.menu-item img {
    max-width: 100%;
    height:auto;
    border-radius: 5px;
    margin-bottom: 10px;
}
.menu-item h3{
    font-size: 24px;
    margin-bottom: 10px;
    color:#ffffff;
}
.menu-item p{
    font-size:16px;
    margin-bottom:20px;
    color: #ffffff;
}

.reservations{
    background-color:#1f1f1f;
    padding: 80px 0;
    text-align:center;
}
.reservation-form{
    max-width:500px;
    margin:0 auto;
    background-color: #333;
    padding:40px;
    border-radius:5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.reservartion-form h2{
    color: #fff;
    font-size: 28px;
    margin-bottom:20px;
}
.reservation-form form input,
.reservation-form form textarea {
    display:block;
    width:450px;
    padding:10px;
    margin-top:5%;
    margin-bottom:20px;
    border-radius:5px;
    border:none;
}
.reservation-form form button {
    display: inline-block;
    background-color:#ff0000;
    color:#fff;
    padding:10px 20px;
    border-radius:5px;
    text-decoration:none;
    font-weight:bold;
    transition:background-color 0.3s ease;
}
.reservation-form form button:hover{
    background-color: #e60000;

}
.testimonials{
    padding:80px 0;
    text-align: center;
    background-color:#070e16;
}
.testimonials h2 {
    text-align: center;
    font-size:36px;
    margin-bottom:40px;
    color:#fff;
}
.testimonial {
    max-width: 600px;
    margin: 0 auto 40px;
    text-align:left;
}
.testimonial img {
    display:block;
    width:80px;
    height:80px;
    border-radius:50%;
    margin:0 auto 20px;
}
.testimonial p{
    font-size: 18px;
    margin-bottom:20px;
    color:#fff;
}
.testimonial h4{
    font-size: 20px;
    font-weight:bold;
    color:#fff;
}
.gallery{
    padding:80px 0;
    text-align:center;
    background-color:#070e16;
}
.gallery h2{
    font-size: 36px;
    margin-bottom: 40px;
    color:#fff;
    text-align: center;
}
.image-grid {
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:30px;
    margin-left:5%;
    margin-right:5%;
}
.contact {
    background-color:#333;
    padding:80px 0;
    text-align: center;
    color: #fff;
}
.contact-container {
    max-width:600px;
    margin:0 auto;
}
.contact h2{
    font-size:36px;
    margin-bottom:40px;
}
.contact-info {
    display:flex;
    justify-content:center;
    margin-bottom:40px;
}
.info-item {
    margin: 0 20px;
    text-align:center;
}
.info-item i {
    font-size: 24px;
    margin-bottom:10px;
}
.contact-form input,
.contact-form textarea{
    display:block;
    width:100%;
    padding:10px;
    margin-bottom:20px;
    border-radius:5px;
    border:none;
}
.contact-form textarea {
    resize: vertical;
}
.contact-form button {
    display: inline-block;
    background-color:#ff0000;
    color:#fff;
    padding: 10px 20px;
    border-radius:5px;
    text-decoration:none;
    font-weight:bold;
    transition: background-color 0.3s ease;
}
.contact-form button:hover {
    background-color:#e60000;
}
.footer{
    background-color:#070e16;
    padding: 40px 0;
    color:#fff;
    text-align:center;
}
.footer-logo img{
    max-width:150px;
}
.footer-links a {
    color:#fff;
    margin: 0 10px;
    text-decoration: none;
}
.footer-social a {
    color:#fff;
    margin: 0 5px;
    text-decoration:none;
}
.footer-text {
    font-size:14px;
}

.scroll-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    font-size: 20px;
    background-color: #ff4500;
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: none;
}

.scroll-top.visible {
    display: block;
}


.promo-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    z-index: 1000;
}

.modal-content {
    text-align: center;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #ff4500;
}

.image-container {
    overflow: hidden; 
    display: inline-block;
    border-radius: 8px; 
}


.zoom-image {
    width: 100%;
    transition: transform 0.5s ease-in-out; 
}


.image-container:hover .zoom-image {
    transform: scale(1.1); 
}

